.word{
  height: 100vh;
  width: 100%;
  display: flex;
  .word_left{
    width: 250px;
    background-color: #c3f8b6de;
    .word_left_user{
      height: 100px;
      padding: 50px 0px 0px 50px;
    }
    .word_left_edit{
      height: 100px;
      bottom: 0;
      padding: 50px 0px 0px 50px;
    }
    .word_left_return{
      height: 100px;
      bottom: 0;
      padding: 50px 0px 0px 50px;
    }
  }
  .word_right{
    width: calc(100% - 250px);
    .word_right_content{
      height: calc(100vh - 90px);
    }
    .form{
      background-color: #92f7f7;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      .form__word{
        border: none;
        float: left;
        height: 50px;
        width: 500px;
      }
      .hidden {
        display: none;
      }
      .form__submit{
        background-color: #f1f7bc;
        border: none;
        color: black;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}